@model Tuple<IEnumerable<Report>,IEnumerable<Userr>,dynamic>

@{
    ViewData["Title"] = "Home Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var chartData = ViewBag.ChartData;

}
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Admin"><i class="zmdi zmdi-home"></i> Admin</a></li>
                        <li class="breadcrumb-item active">Dashboard </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon ">
                        <div class="body">
                        <h6>Users</h6>
                        <h2> @ViewBag.Userrs</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon ">
                        <div class="body">
                            <h6>Sales</h6>
                        <h2>@ViewBag.Sales %</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon ">
                        <div class="body">
                        <h6>Categories</h6>
                        <h2>@ViewBag.Categories</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon ">
                        <div class="body">
                        <h6>Gifts</h6>
                        <h2>@ViewBag.Gifts</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">


            <div class="body">
                <div id="chart" class="c3_chart d_sales"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var chartData = @Html.Raw(ViewBag.ChartData);

        var chart = c3.generate({
            bindto: '#chart', // id of chart wrapper
            data: {
                columns: [
                    ['Profits'].concat(chartData.profits),
                    ['Total Prices'].concat(chartData.totalPrices),
                    ['Quantities'].concat(chartData.quantities),
                ],
                type: 'area-spline', // default type of chart
                groups: [
                    ['Profits', 'Total Prices', 'Quantities']
                ],
                colors: {
                    'Profits': '#5CC5CD', // Customize color for 'Profits'
                    'Total Prices': '#46b6fe', // Customize color for 'Total Prices'
                    'Quantities': '#FFA500', // Customize color for 'Quantities'
                },
                names: {
                    'Profits': 'Profits',
                    'Total Prices': 'Total Prices',
                    'Quantities': 'Quantities',
                }
            },
            axis: {
                x: {
                    type: 'category',
                    categories: chartData.labels
                }
            },
            legend: {
                show: true
            },
            padding: {
                bottom: 10,
                top: 20
            }
        });
   
    });


</script>



<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2><strong>Reports</strong> </h2>
            </div>

            <div class="body">
                <div class="">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Sender name</th>
                                <th>Product name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Sale</th>
                                <th>Category Name</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Item1)
                            {

                                <tr>
                                    <td>@item.Userr.Username</td>
                                    <td>@item.product.Namee</td>
                                    <td>@item.Orderr.Quantity</td>
                                    <td class="font-weight-bold">$@item.product.Price</td>
                                    <td>@item.product.Sale</td>

                                    <td class="font-weight-medium"><div class="badge badge-success">@item.Category.CategoryName</div></td>
                                    @*      <td><img src="@Url.Content("~/Images/"+item.Category.Imagepath)" style="width:40px;height:40px;border-radius:2%;" /></td>
                                <td>@item.Orderr.DateOrder</td>
                                <td>@item.Orderr.DateEnd</td>*@
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Profits</th>
                                <td>@ViewBag.Profits</td>

                            </tr>
                        </tfoot>
                        <tfoot>
                            <tr>
                                <th>Total Price</th>
                                <td>@ViewBag.TotalPrice</td>

                            </tr>
                        </tfoot>
                        <tfoot>
                            <tr>

                                <th>Total Quantity</th>
                                <td>@ViewBag.Quantity</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
